.git
.next
node_modules
tsconfig.tsbuildinfo
.env
.env.*
!.env.example
data
!data/seed.generated.json
*.dump
*.sql
!prisma/migrations/
!prisma/migrations/**/
!prisma/migrations/**/migration.sql
public/uploads/invoices/*
!public/uploads/invoices/.gitkeep
