POSTGRES_HOST="localhost"
POSTGRES_PORT="5433"
POSTGRES_DB="dms_spese_ricavi"
POSTGRES_USER="dms"
POSTGRES_PASSWORD="dms"
POSTGRES_SCHEMA="public"

APP_URL="http://localhost:3000"
CRON_SECRET="change-me"
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
