POSTGRES_HOST="tabularium-db"
POSTGRES_PORT="5432"
POSTGRES_DB="tabularium"
POSTGRES_USER="tabularium"
POSTGRES_PASSWORD="change-me"
POSTGRES_SCHEMA="public"

APP_IMAGE="883377/tabularium:latest"
APP_URL="https://tabularium.devmash.it"
CRON_SECRET="change-me"

GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
