node_modules
.next
.env
.env.production
deploy.conf
backups/
.DS_Store
prisma/migrations
data/Spese-Ricavi.xlsx
/.idea/vcs.xml
/generated/prisma/internal/class.ts
/generated/prisma/internal/prismaNamespace.ts
/generated/prisma/internal/prismaNamespaceBrowser.ts
/generated/prisma/models/Bank.ts
/generated/prisma/models/Company.ts
/generated/prisma/models/Expense.ts
/generated/prisma/models/ExpenseAttachment.ts
/generated/prisma/models/ExpenseCategory.ts
/generated/prisma/models/ExpensePayment.ts
/generated/prisma/models/Income.ts
/generated/prisma/models/MonthlyRevenue.ts
/generated/prisma/models/Supplier.ts
/generated/prisma/browser.ts
/generated/prisma/client.ts
/generated/prisma/commonInputTypes.ts
/generated/prisma/enums.ts
/generated/prisma/models.ts
/tsconfig.tsbuildinfo
