[Unit]
Description=Schedule Tabularium production backup

[Timer]
OnCalendar=*-*-* 02:30:00
Persistent=true
RandomizedDelaySec=10m
Unit=tabularium-backup.service

[Install]
WantedBy=timers.target
