@media (max-width: 760px) {
    .shell .nav-links {
        display: none;
    }

    .floating-bulk-actions-inner {
        justify-content: flex-end;
    }

    .app-footer {
        display: none;
    }

    .modal-card.modal-card-wide .expense-form {
        /*margin-bottom: 0!important;*/
    }
}

@media (max-width: 576px) {
    body { overflow-x: hidden !important;}

    input, select {
        /*border: none;*/
        /*border-bottom: 1px solid #616266;*/
        /*border-radius: 0;*/
        font-weight: 400;
    }

    textarea {
        /*border-color: #616266;*/
        font-weight: 400;
    }

    input:active, select:active,
    input:focus, select:focus {
        /*border: none;*/
        /*border-bottom: 1px solid #2e2c7e;*/
        /*border-radius: 0;*/
        font-weight: 400;
    }

    .form {
        gap: 20px;
    }

    .form label,
    .field-note,
    .switch-toggle-field > span {
        font-size: 16px;
    }

    .toggle-field-wrap .switch-toggle-field {
        width: 50%;
    }

    .payment-row {
        grid-template-columns: 1fr;
    }

    .attachments-note {
        text-align: right;
        align-self: center;
    }

    .currency-input > span,
    .vat-input > span {
        height: 44px;
        line-height: 46px;
    }

    .section-title {
        flex-direction: column;
    }

    .grid-4, .grid-2, .form {
        grid-template-columns: 1fr;
    }

    .filter-group.filter-group-order-date,
    .filter-group.filter-group-fiscal {
        display: inherit;
    }

    .modal-card.modal-card-wide .income-form,
    .modal-card.modal-card-wide .expense-form {
        margin-bottom: 72px;
    }

    .bulk-direct-link .btn-icon {
        font-size: 20px;
    }
    .floating-bulk-actions-inner .btn-icon {
        font-size: 20px;
    }

    .card .expense-form {
        padding: 0;
        border: none;
    }

    .expense-import-btn {
        display: block;
        position: absolute;
        right: 12px;
        top: 17px;
    }

    .expense-import-btn-large {
        display: none;
    }

    .expense-import-btn .expense-import-btn-text {
        display: none !important;
    }

    .expense-import-btn .expense-import-btn-text-compact {
        display: inline !important;
    }

    .dashboard-top-actions .btn {
        font-size: 14px;
        padding: 8px;
    }

    .supplier-form {
        margin-bottom: 86px;
    }

    .dashboard-actions-bottom .actions-row .btn {
        padding: 7px;
        font-size: 14px;
    }

    .attachment-row-wrap .attachment-row-title {
        display: flex;
        flex-direction: column;
    }

    .grouped-filters .filter-group {
        gap: 18px;
    }

    .compact-filters {
        gap: 18px;
    }
    .expense-detail-info-grid,
    .expense-detail-status-strip {
        grid-template-columns: 1fr 1fr;
    }

    .modal-card-wide .form,
    .modal-page-card .form,
    .modal-card-wide .income-form,
    .modal-page-card .income-form,
    .modal-card-wide .supplier-form {
        grid-template-columns: 1fr;
    }

    .expense-mobile-title-left {
        display: flex;
        flex-direction: column;
        font-weight: 400;
        flex-grow: 1;
    }

    .expense-mobile-title-right {
        display: flex;
        flex-direction: column;
        font-weight: 400;
    }

    .expense-mobile-title-right .expense-mobile-date {
        font-size: 12px;
        color: var(--muted);
        font-weight: 400;
        padding-bottom: 1px;
    }

    .expense-mobile-main {
        gap: 4px;
    }

    .expense-mobile-link .badge {
        padding: 2px 6px;
        border: none;
        font-size: 13px;
    }

    .expense-mobile-meta .expense-mobile-meta-left {
        display: flex;
        gap: 2px;
        flex-grow: 1;
        font-weight: 400;
    }

    .expense-mobile-meta .expense-mobile-meta-right {
        display: flex;
        gap: 2px;
        text-align: right;
    }

    .form-section-stack > .full {
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    .form-section-stack > .full > div {
        /*display: flex;*/
        /*flex-direction: column;*/
    }
}
