@media (max-width: 760px) {
    .shell .nav-links {
        display: none;
    }

    .floating-bulk-actions-inner {
        justify-content: flex-end;
    }
}

@media (max-width: 576px) {
    body { overflow-x: hidden !important;}

    input, select {
        border: none;
        border-bottom: 1px solid #616266;
        border-radius: 0;
    }

    textarea {
        border-color: #616266;
    }

    input:active, select:active,
    input:focus, select:focus {
        border: none;
        border-bottom: 1px solid #2e2c7e;
        border-radius: 0;
    }

    .form {
        gap: 20px;
    }

    .form label,
    .switch-toggle-field > span {
        font-size: 20px;
    }

    .toggle-field-wrap .switch-toggle-field {
        width: 50%;
    }

    .payment-row {
        grid-template-columns: 1fr;
    }

    .attachments-note {
        text-align: right;
        align-self: center;
    }

    .currency-input > span,
    .vat-input > span {
        height: 44px;
        line-height: 46px;
    }

    .section-title {
        flex-direction: column;
    }

    .grid-4, .grid-2, .form {
        grid-template-columns: 1fr;
    }

    .filter-group.filter-group-order-date,
    .filter-group.filter-group-fiscal {
        display: inherit;
    }

    .modal-card.modal-card-wide .income-form,
    .modal-card.modal-card-wide .expense-form {
        margin-bottom: 72px;
    }

    .bulk-direct-link .btn-icon {
        font-size: 20px;
    }
    .floating-bulk-actions-inner .btn-icon {
        font-size: 20px;
    }

    .card form.expense-form {
        padding: 0;
        border: none;
    }
}